.media-list-container {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 0 auto;
}

.media-list-container h2 {
    text-align: left;
    max-width: 75rem;
    margin: 1rem 12%;
}

.media-list-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.media-list-container li {
    width: 100%;
 }

@media(max-width: 680px) {
    .media-list-container h2 {
        margin: 1rem 4%;
    }
}
