#search-container input {
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid gray;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

#search-container input[type=radio] {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

.pagination-pages {
    font-size: 16px;
    display: inline-block;
}

.pagination-pages > div {
    margin: 0 3px;
    display: inline-block;
    cursor: pointer;
 }

.current-page {
    margin: 0 7px;
    display: inline-block;
}

.field-group.radio-buttons {
    display: block;
}

.field-group {
    display: inline-block;
}

#title-search {
    width: 20rem;
}

#year-search {
    width: 5rem;
}

.search-label {
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

#pagination-display {
    font-size: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.arrow-icon {
    height: 2rem;
    cursor: pointer;
}

@media(max-width: 680px) {
    .field-group {
        display: block;
    }
}
